name: GitHub Actions Build and Deploy

on:
  push:
    branches:
      - master
      - v*
    paths:
      - docs/**
      - typings/**
      - .umirc.js
      - tsconfig.json
      - package.json
      - .github/workflows/*

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.1 # If you're using actions/checkout@v2 you must set persist-credentials to false in most cases for the deployment to work correctly.
      - name: Use Node.js 16.x
        uses: actions/setup-node@v2
        with:
         node-version: 16
      - name: Install
        run: npm install
      - name: Build docs
        run: npm run docs:build
      - name: Deploy docs
        uses: JamesIves/github-pages-deploy-action@4.1.7
        with:
          branch: gh-pages
          folder: site
          target-folder: ${{github.ref}}
